
	</div> <!-- end .container -->

	<script src="https://ad.csdnevnik.ru/special/prodaction/OAuth2/hello.min.js"></script>
	<!-- main script -->
	

	@@if (app === true){

		@@if (server === "dnevnik"){
		<script src="assets/js/app-dnevnik.min.js"></script>
		}	
		@@if (server === "mosreg"){
		<script src="assets/js/app-mosreg.min.js"></script>
		}
		@@if (server === "staging"){
		<script src="assets/js/app-staging.min.js"></script>
		}
		@@if (server === "local"){	
		<script src="http://localhost:3000/assets/js/app-local.min.js"></script>
		}
		
	}
	
	@@if (comments === true){

		@@if (server === "dnevnik"){
		<script src="assets/js/comments-dnevnik.min.js"></script>
		}	
		@@if (server === "mosreg"){
		<script src="assets/js/comments-mosreg.min.js"></script>
		}
		@@if (server === "staging"){
		<script src="assets/js/comments-staging.min.js"></script>
		}
		@@if (server === "local"){	
		<script src="http://localhost:3000/assets/js/comments-local.min.js"></script>
		}

	}

</body>
</html>
