/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$awards-name: 'awards';
$awards-x: 185px;
$awards-y: 0px;
$awards-offset-x: -185px;
$awards-offset-y: 0px;
$awards-width: 667px;
$awards-height: 61px;
$awards-total-width: 852px;
$awards-total-height: 670px;
$awards-image: '../images/sprite.png';
$awards: (185px, 0px, -185px, 0px, 667px, 61px, 852px, 670px, '../images/sprite.png', 'awards', );
$logo-big-name: 'logo-big';
$logo-big-x: 185px;
$logo-big-y: 61px;
$logo-big-offset-x: -185px;
$logo-big-offset-y: -61px;
$logo-big-width: 185px;
$logo-big-height: 159px;
$logo-big-total-width: 852px;
$logo-big-total-height: 670px;
$logo-big-image: '../images/sprite.png';
$logo-big: (185px, 61px, -185px, -61px, 185px, 159px, 852px, 670px, '../images/sprite.png', 'logo-big', );
$logo-name: 'logo';
$logo-x: 370px;
$logo-y: 61px;
$logo-offset-x: -370px;
$logo-offset-y: -61px;
$logo-width: 223px;
$logo-height: 81px;
$logo-total-width: 852px;
$logo-total-height: 670px;
$logo-image: '../images/sprite.png';
$logo: (370px, 61px, -370px, -61px, 223px, 81px, 852px, 670px, '../images/sprite.png', 'logo', );
$logotype-name: 'logotype';
$logotype-x: 593px;
$logotype-y: 61px;
$logotype-offset-x: -593px;
$logotype-offset-y: -61px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 852px;
$logotype-total-height: 670px;
$logotype-image: '../images/sprite.png';
$logotype: (593px, 61px, -593px, -61px, 148px, 52px, 852px, 670px, '../images/sprite.png', 'logotype', );
$main-end-name: 'main-end';
$main-end-x: 0px;
$main-end-y: 0px;
$main-end-offset-x: 0px;
$main-end-offset-y: 0px;
$main-end-width: 185px;
$main-end-height: 247px;
$main-end-total-width: 852px;
$main-end-total-height: 670px;
$main-end-image: '../images/sprite.png';
$main-end: (0px, 0px, 0px, 0px, 185px, 247px, 852px, 670px, '../images/sprite.png', 'main-end', );
$main-start-name: 'main-start';
$main-start-x: 0px;
$main-start-y: 450px;
$main-start-offset-x: 0px;
$main-start-offset-y: -450px;
$main-start-width: 121px;
$main-start-height: 220px;
$main-start-total-width: 852px;
$main-start-total-height: 670px;
$main-start-image: '../images/sprite.png';
$main-start: (0px, 450px, 0px, -450px, 121px, 220px, 852px, 670px, '../images/sprite.png', 'main-start', );
$portrait-name: 'portrait';
$portrait-x: 0px;
$portrait-y: 247px;
$portrait-offset-x: 0px;
$portrait-offset-y: -247px;
$portrait-width: 200px;
$portrait-height: 203px;
$portrait-total-width: 852px;
$portrait-total-height: 670px;
$portrait-image: '../images/sprite.png';
$portrait: (0px, 247px, 0px, -247px, 200px, 203px, 852px, 670px, '../images/sprite.png', 'portrait', );
$spritesheet-width: 852px;
$spritesheet-height: 670px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($awards, $logo-big, $logo, $logotype, $main-end, $main-start, $portrait, );
$spritesheet: (852px, 670px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
