/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$anatomy-1-name: 'anatomy-1';
$anatomy-1-x: 422px;
$anatomy-1-y: 0px;
$anatomy-1-offset-x: -422px;
$anatomy-1-offset-y: 0px;
$anatomy-1-width: 156px;
$anatomy-1-height: 462px;
$anatomy-1-total-width: 1713px;
$anatomy-1-total-height: 991px;
$anatomy-1-image: '../images/sprite.png';
$anatomy-1: (422px, 0px, -422px, 0px, 156px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-1', );
$anatomy-2-name: 'anatomy-2';
$anatomy-2-x: 734px;
$anatomy-2-y: 0px;
$anatomy-2-offset-x: -734px;
$anatomy-2-offset-y: 0px;
$anatomy-2-width: 156px;
$anatomy-2-height: 462px;
$anatomy-2-total-width: 1713px;
$anatomy-2-total-height: 991px;
$anatomy-2-image: '../images/sprite.png';
$anatomy-2: (734px, 0px, -734px, 0px, 156px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-2', );
$anatomy-3-name: 'anatomy-3';
$anatomy-3-x: 0px;
$anatomy-3-y: 529px;
$anatomy-3-offset-x: 0px;
$anatomy-3-offset-y: -529px;
$anatomy-3-width: 155px;
$anatomy-3-height: 462px;
$anatomy-3-total-width: 1713px;
$anatomy-3-total-height: 991px;
$anatomy-3-image: '../images/sprite.png';
$anatomy-3: (0px, 529px, 0px, -529px, 155px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-3', );
$anatomy-4-name: 'anatomy-4';
$anatomy-4-x: 890px;
$anatomy-4-y: 0px;
$anatomy-4-offset-x: -890px;
$anatomy-4-offset-y: 0px;
$anatomy-4-width: 156px;
$anatomy-4-height: 462px;
$anatomy-4-total-width: 1713px;
$anatomy-4-total-height: 991px;
$anatomy-4-image: '../images/sprite.png';
$anatomy-4: (890px, 0px, -890px, 0px, 156px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-4', );
$anatomy-5-name: 'anatomy-5';
$anatomy-5-x: 578px;
$anatomy-5-y: 0px;
$anatomy-5-offset-x: -578px;
$anatomy-5-offset-y: 0px;
$anatomy-5-width: 156px;
$anatomy-5-height: 462px;
$anatomy-5-total-width: 1713px;
$anatomy-5-total-height: 991px;
$anatomy-5-image: '../images/sprite.png';
$anatomy-5: (578px, 0px, -578px, 0px, 156px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-5', );
$anatomy-6-name: 'anatomy-6';
$anatomy-6-x: 310px;
$anatomy-6-y: 529px;
$anatomy-6-offset-x: -310px;
$anatomy-6-offset-y: -529px;
$anatomy-6-width: 155px;
$anatomy-6-height: 462px;
$anatomy-6-total-width: 1713px;
$anatomy-6-total-height: 991px;
$anatomy-6-image: '../images/sprite.png';
$anatomy-6: (310px, 529px, -310px, -529px, 155px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-6', );
$anatomy-7-name: 'anatomy-7';
$anatomy-7-x: 155px;
$anatomy-7-y: 529px;
$anatomy-7-offset-x: -155px;
$anatomy-7-offset-y: -529px;
$anatomy-7-width: 155px;
$anatomy-7-height: 462px;
$anatomy-7-total-width: 1713px;
$anatomy-7-total-height: 991px;
$anatomy-7-image: '../images/sprite.png';
$anatomy-7: (155px, 529px, -155px, -529px, 155px, 462px, 1713px, 991px, '../images/sprite.png', 'anatomy-7', );
$awards-1-name: 'awards-1';
$awards-1-x: 1431px;
$awards-1-y: 142px;
$awards-1-offset-x: -1431px;
$awards-1-offset-y: -142px;
$awards-1-width: 168px;
$awards-1-height: 59px;
$awards-1-total-width: 1713px;
$awards-1-total-height: 991px;
$awards-1-image: '../images/sprite.png';
$awards-1: (1431px, 142px, -1431px, -142px, 168px, 59px, 1713px, 991px, '../images/sprite.png', 'awards-1', );
$awards-2-name: 'awards-2';
$awards-2-x: 1431px;
$awards-2-y: 264px;
$awards-2-offset-x: -1431px;
$awards-2-offset-y: -264px;
$awards-2-width: 46px;
$awards-2-height: 45px;
$awards-2-total-width: 1713px;
$awards-2-total-height: 991px;
$awards-2-image: '../images/sprite.png';
$awards-2: (1431px, 264px, -1431px, -264px, 46px, 45px, 1713px, 991px, '../images/sprite.png', 'awards-2', );
$awards-3-name: 'awards-3';
$awards-3-x: 1653px;
$awards-3-y: 142px;
$awards-3-offset-x: -1653px;
$awards-3-offset-y: -142px;
$awards-3-width: 46px;
$awards-3-height: 46px;
$awards-3-total-width: 1713px;
$awards-3-total-height: 991px;
$awards-3-image: '../images/sprite.png';
$awards-3: (1653px, 142px, -1653px, -142px, 46px, 46px, 1713px, 991px, '../images/sprite.png', 'awards-3', );
$awards-4-name: 'awards-4';
$awards-4-x: 1599px;
$awards-4-y: 142px;
$awards-4-offset-x: -1599px;
$awards-4-offset-y: -142px;
$awards-4-width: 54px;
$awards-4-height: 54px;
$awards-4-total-width: 1713px;
$awards-4-total-height: 991px;
$awards-4-image: '../images/sprite.png';
$awards-4: (1599px, 142px, -1599px, -142px, 54px, 54px, 1713px, 991px, '../images/sprite.png', 'awards-4', );
$awards-5-name: 'awards-5';
$awards-5-x: 1246px;
$awards-5-y: 220px;
$awards-5-offset-x: -1246px;
$awards-5-offset-y: -220px;
$awards-5-width: 37px;
$awards-5-height: 37px;
$awards-5-total-width: 1713px;
$awards-5-total-height: 991px;
$awards-5-image: '../images/sprite.png';
$awards-5: (1246px, 220px, -1246px, -220px, 37px, 37px, 1713px, 991px, '../images/sprite.png', 'awards-5', );
$awards-name: 'awards';
$awards-x: 1046px;
$awards-y: 0px;
$awards-offset-x: -1046px;
$awards-offset-y: 0px;
$awards-width: 667px;
$awards-height: 61px;
$awards-total-width: 1713px;
$awards-total-height: 991px;
$awards-image: '../images/sprite.png';
$awards: (1046px, 0px, -1046px, 0px, 667px, 61px, 1713px, 991px, '../images/sprite.png', 'awards', );
$bubble-name: 'bubble';
$bubble-x: 1260px;
$bubble-y: 365px;
$bubble-offset-x: -1260px;
$bubble-offset-y: -365px;
$bubble-width: 81px;
$bubble-height: 79px;
$bubble-total-width: 1713px;
$bubble-total-height: 991px;
$bubble-image: '../images/sprite.png';
$bubble: (1260px, 365px, -1260px, -365px, 81px, 79px, 1713px, 991px, '../images/sprite.png', 'bubble', );
$checkbox-checked-name: 'checkbox-checked';
$checkbox-checked-x: 1431px;
$checkbox-checked-y: 201px;
$checkbox-checked-offset-x: -1431px;
$checkbox-checked-offset-y: -201px;
$checkbox-checked-width: 16px;
$checkbox-checked-height: 16px;
$checkbox-checked-total-width: 1713px;
$checkbox-checked-total-height: 991px;
$checkbox-checked-image: '../images/sprite.png';
$checkbox-checked: (1431px, 201px, -1431px, -201px, 16px, 16px, 1713px, 991px, '../images/sprite.png', 'checkbox-checked', );
$checkbox-name: 'checkbox';
$checkbox-x: 1447px;
$checkbox-y: 201px;
$checkbox-offset-x: -1447px;
$checkbox-offset-y: -201px;
$checkbox-width: 16px;
$checkbox-height: 16px;
$checkbox-total-width: 1713px;
$checkbox-total-height: 991px;
$checkbox-image: '../images/sprite.png';
$checkbox: (1447px, 201px, -1447px, -201px, 16px, 16px, 1713px, 991px, '../images/sprite.png', 'checkbox', );
$close-name: 'close';
$close-x: 1692px;
$close-y: 115px;
$close-offset-x: -1692px;
$close-offset-y: -115px;
$close-width: 18px;
$close-height: 18px;
$close-total-width: 1713px;
$close-total-height: 991px;
$close-image: '../images/sprite.png';
$close: (1692px, 115px, -1692px, -115px, 18px, 18px, 1713px, 991px, '../images/sprite.png', 'close', );
$doc-adult-name: 'doc-adult';
$doc-adult-x: 0px;
$doc-adult-y: 0px;
$doc-adult-offset-x: 0px;
$doc-adult-offset-y: 0px;
$doc-adult-width: 248px;
$doc-adult-height: 529px;
$doc-adult-total-width: 1713px;
$doc-adult-total-height: 991px;
$doc-adult-image: '../images/sprite.png';
$doc-adult: (0px, 0px, 0px, 0px, 248px, 529px, 1713px, 991px, '../images/sprite.png', 'doc-adult', );
$doc-boy-name: 'doc-boy';
$doc-boy-x: 248px;
$doc-boy-y: 0px;
$doc-boy-offset-x: -248px;
$doc-boy-offset-y: 0px;
$doc-boy-width: 174px;
$doc-boy-height: 436px;
$doc-boy-total-width: 1713px;
$doc-boy-total-height: 991px;
$doc-boy-image: '../images/sprite.png';
$doc-boy: (248px, 0px, -248px, 0px, 174px, 436px, 1713px, 991px, '../images/sprite.png', 'doc-boy', );
$hand-liked-name: 'hand--liked';
$hand-liked-x: 1673px;
$hand-liked-y: 115px;
$hand-liked-offset-x: -1673px;
$hand-liked-offset-y: -115px;
$hand-liked-width: 19px;
$hand-liked-height: 21px;
$hand-liked-total-width: 1713px;
$hand-liked-total-height: 991px;
$hand-liked-image: '../images/sprite.png';
$hand-liked: (1673px, 115px, -1673px, -115px, 19px, 21px, 1713px, 991px, '../images/sprite.png', 'hand--liked', );
$hand-name: 'hand';
$hand-x: 1654px;
$hand-y: 115px;
$hand-offset-x: -1654px;
$hand-offset-y: -115px;
$hand-width: 19px;
$hand-height: 21px;
$hand-total-width: 1713px;
$hand-total-height: 991px;
$hand-image: '../images/sprite.png';
$hand: (1654px, 115px, -1654px, -115px, 19px, 21px, 1713px, 991px, '../images/sprite.png', 'hand', );
$leave-name: 'leave';
$leave-x: 1654px;
$leave-y: 61px;
$leave-offset-x: -1654px;
$leave-offset-y: -61px;
$leave-width: 55px;
$leave-height: 54px;
$leave-total-width: 1713px;
$leave-total-height: 991px;
$leave-image: '../images/sprite.png';
$leave: (1654px, 61px, -1654px, -61px, 55px, 54px, 1713px, 991px, '../images/sprite.png', 'leave', );
$logo-big-name: 'logo-big';
$logo-big-x: 1246px;
$logo-big-y: 61px;
$logo-big-offset-x: -1246px;
$logo-big-offset-y: -61px;
$logo-big-width: 185px;
$logo-big-height: 159px;
$logo-big-total-width: 1713px;
$logo-big-total-height: 991px;
$logo-big-image: '../images/sprite.png';
$logo-big: (1246px, 61px, -1246px, -61px, 185px, 159px, 1713px, 991px, '../images/sprite.png', 'logo-big', );
$logo-small-name: 'logo-small';
$logo-small-x: 1167px;
$logo-small-y: 365px;
$logo-small-offset-x: -1167px;
$logo-small-offset-y: -365px;
$logo-small-width: 93px;
$logo-small-height: 80px;
$logo-small-total-width: 1713px;
$logo-small-total-height: 991px;
$logo-small-image: '../images/sprite.png';
$logo-small: (1167px, 365px, -1167px, -365px, 93px, 80px, 1713px, 991px, '../images/sprite.png', 'logo-small', );
$logo-name: 'logo';
$logo-x: 1431px;
$logo-y: 61px;
$logo-offset-x: -1431px;
$logo-offset-y: -61px;
$logo-width: 223px;
$logo-height: 81px;
$logo-total-width: 1713px;
$logo-total-height: 991px;
$logo-image: '../images/sprite.png';
$logo: (1431px, 61px, -1431px, -61px, 223px, 81px, 1713px, 991px, '../images/sprite.png', 'logo', );
$logotype-name: 'logotype';
$logotype-x: 1283px;
$logotype-y: 264px;
$logotype-offset-x: -1283px;
$logotype-offset-y: -264px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 1713px;
$logotype-total-height: 991px;
$logotype-image: '../images/sprite.png';
$logotype: (1283px, 264px, -1283px, -264px, 148px, 52px, 1713px, 991px, '../images/sprite.png', 'logotype', );
$main-end-name: 'main-end';
$main-end-x: 465px;
$main-end-y: 529px;
$main-end-offset-x: -465px;
$main-end-offset-y: -529px;
$main-end-width: 185px;
$main-end-height: 247px;
$main-end-total-width: 1713px;
$main-end-total-height: 991px;
$main-end-image: '../images/sprite.png';
$main-end: (465px, 529px, -465px, -529px, 185px, 247px, 1713px, 991px, '../images/sprite.png', 'main-end', );
$main-start-name: 'main-start';
$main-start-x: 1046px;
$main-start-y: 264px;
$main-start-offset-x: -1046px;
$main-start-offset-y: -264px;
$main-start-width: 121px;
$main-start-height: 220px;
$main-start-total-width: 1713px;
$main-start-total-height: 991px;
$main-start-image: '../images/sprite.png';
$main-start: (1046px, 264px, -1046px, -264px, 121px, 220px, 1713px, 991px, '../images/sprite.png', 'main-start', );
$portrait-name: 'portrait';
$portrait-x: 1046px;
$portrait-y: 61px;
$portrait-offset-x: -1046px;
$portrait-offset-y: -61px;
$portrait-width: 200px;
$portrait-height: 203px;
$portrait-total-width: 1713px;
$portrait-total-height: 991px;
$portrait-image: '../images/sprite.png';
$portrait: (1046px, 61px, -1046px, -61px, 200px, 203px, 1713px, 991px, '../images/sprite.png', 'portrait', );
$specialists-col-name: 'specialists-col';
$specialists-col-x: 1167px;
$specialists-col-y: 264px;
$specialists-col-offset-x: -1167px;
$specialists-col-offset-y: -264px;
$specialists-col-width: 116px;
$specialists-col-height: 101px;
$specialists-col-total-width: 1713px;
$specialists-col-total-height: 991px;
$specialists-col-image: '../images/sprite.png';
$specialists-col: (1167px, 264px, -1167px, -264px, 116px, 101px, 1713px, 991px, '../images/sprite.png', 'specialists-col', );
$spritesheet-width: 1713px;
$spritesheet-height: 991px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($anatomy-1, $anatomy-2, $anatomy-3, $anatomy-4, $anatomy-5, $anatomy-6, $anatomy-7, $awards-1, $awards-2, $awards-3, $awards-4, $awards-5, $awards, $bubble, $checkbox-checked, $checkbox, $close, $doc-adult, $doc-boy, $hand-liked, $hand, $leave, $logo-big, $logo-small, $logo, $logotype, $main-end, $main-start, $portrait, $specialists-col, );
$spritesheet: (1713px, 991px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
