/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$anatomy-1-name: 'anatomy-1';
$anatomy-1-x: 0px;
$anatomy-1-y: 436px;
$anatomy-1-offset-x: 0px;
$anatomy-1-offset-y: -436px;
$anatomy-1-width: 156px;
$anatomy-1-height: 462px;
$anatomy-1-total-width: 1182px;
$anatomy-1-total-height: 1040px;
$anatomy-1-image: '../images/sprite.png';
$anatomy-1: (0px, 436px, 0px, -436px, 156px, 462px, 1182px, 1040px, '../images/sprite.png', 'anatomy-1', );
$anatomy-2-name: 'anatomy-2';
$anatomy-2-x: 486px;
$anatomy-2-y: 0px;
$anatomy-2-offset-x: -486px;
$anatomy-2-offset-y: 0px;
$anatomy-2-width: 156px;
$anatomy-2-height: 462px;
$anatomy-2-total-width: 1182px;
$anatomy-2-total-height: 1040px;
$anatomy-2-image: '../images/sprite.png';
$anatomy-2: (486px, 0px, -486px, 0px, 156px, 462px, 1182px, 1040px, '../images/sprite.png', 'anatomy-2', );
$anatomy-3-name: 'anatomy-3';
$anatomy-3-x: 642px;
$anatomy-3-y: 0px;
$anatomy-3-offset-x: -642px;
$anatomy-3-offset-y: 0px;
$anatomy-3-width: 155px;
$anatomy-3-height: 462px;
$anatomy-3-total-width: 1182px;
$anatomy-3-total-height: 1040px;
$anatomy-3-image: '../images/sprite.png';
$anatomy-3: (642px, 0px, -642px, 0px, 155px, 462px, 1182px, 1040px, '../images/sprite.png', 'anatomy-3', );
$anatomy-4-name: 'anatomy-4';
$anatomy-4-x: 174px;
$anatomy-4-y: 0px;
$anatomy-4-offset-x: -174px;
$anatomy-4-offset-y: 0px;
$anatomy-4-width: 156px;
$anatomy-4-height: 462px;
$anatomy-4-total-width: 1182px;
$anatomy-4-total-height: 1040px;
$anatomy-4-image: '../images/sprite.png';
$anatomy-4: (174px, 0px, -174px, 0px, 156px, 462px, 1182px, 1040px, '../images/sprite.png', 'anatomy-4', );
$anatomy-5-name: 'anatomy-5';
$anatomy-5-x: 330px;
$anatomy-5-y: 0px;
$anatomy-5-offset-x: -330px;
$anatomy-5-offset-y: 0px;
$anatomy-5-width: 156px;
$anatomy-5-height: 462px;
$anatomy-5-total-width: 1182px;
$anatomy-5-total-height: 1040px;
$anatomy-5-image: '../images/sprite.png';
$anatomy-5: (330px, 0px, -330px, 0px, 156px, 462px, 1182px, 1040px, '../images/sprite.png', 'anatomy-5', );
$awards-name: 'awards';
$awards-x: 0px;
$awards-y: 898px;
$awards-offset-x: 0px;
$awards-offset-y: -898px;
$awards-width: 667px;
$awards-height: 61px;
$awards-total-width: 1182px;
$awards-total-height: 1040px;
$awards-image: '../images/sprite.png';
$awards: (0px, 898px, 0px, -898px, 667px, 61px, 1182px, 1040px, '../images/sprite.png', 'awards', );
$bubble-name: 'bubble';
$bubble-x: 982px;
$bubble-y: 634px;
$bubble-offset-x: -982px;
$bubble-offset-y: -634px;
$bubble-width: 81px;
$bubble-height: 79px;
$bubble-total-width: 1182px;
$bubble-total-height: 1040px;
$bubble-image: '../images/sprite.png';
$bubble: (982px, 634px, -982px, -634px, 81px, 79px, 1182px, 1040px, '../images/sprite.png', 'bubble', );
$close-name: 'close';
$close-x: 1103px;
$close-y: 362px;
$close-offset-x: -1103px;
$close-offset-y: -362px;
$close-width: 18px;
$close-height: 18px;
$close-total-width: 1182px;
$close-total-height: 1040px;
$close-image: '../images/sprite.png';
$close: (1103px, 362px, -1103px, -362px, 18px, 18px, 1182px, 1040px, '../images/sprite.png', 'close', );
$doc-boy-name: 'doc-boy';
$doc-boy-x: 0px;
$doc-boy-y: 0px;
$doc-boy-offset-x: 0px;
$doc-boy-offset-y: 0px;
$doc-boy-width: 174px;
$doc-boy-height: 436px;
$doc-boy-total-width: 1182px;
$doc-boy-total-height: 1040px;
$doc-boy-image: '../images/sprite.png';
$doc-boy: (0px, 0px, 0px, 0px, 174px, 436px, 1182px, 1040px, '../images/sprite.png', 'doc-boy', );
$logo-big-name: 'logo-big';
$logo-big-x: 982px;
$logo-big-y: 203px;
$logo-big-offset-x: -982px;
$logo-big-offset-y: -203px;
$logo-big-width: 185px;
$logo-big-height: 159px;
$logo-big-total-width: 1182px;
$logo-big-total-height: 1040px;
$logo-big-image: '../images/sprite.png';
$logo-big: (982px, 203px, -982px, -203px, 185px, 159px, 1182px, 1040px, '../images/sprite.png', 'logo-big', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 959px;
$logo-offset-x: 0px;
$logo-offset-y: -959px;
$logo-width: 223px;
$logo-height: 81px;
$logo-total-width: 1182px;
$logo-total-height: 1040px;
$logo-image: '../images/sprite.png';
$logo: (0px, 959px, 0px, -959px, 223px, 81px, 1182px, 1040px, '../images/sprite.png', 'logo', );
$logotype-name: 'logotype';
$logotype-x: 982px;
$logotype-y: 582px;
$logotype-offset-x: -982px;
$logotype-offset-y: -582px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 1182px;
$logotype-total-height: 1040px;
$logotype-image: '../images/sprite.png';
$logotype: (982px, 582px, -982px, -582px, 148px, 52px, 1182px, 1040px, '../images/sprite.png', 'logotype', );
$main-end-name: 'main-end';
$main-end-x: 797px;
$main-end-y: 0px;
$main-end-offset-x: -797px;
$main-end-offset-y: 0px;
$main-end-width: 185px;
$main-end-height: 247px;
$main-end-total-width: 1182px;
$main-end-total-height: 1040px;
$main-end-image: '../images/sprite.png';
$main-end: (797px, 0px, -797px, 0px, 185px, 247px, 1182px, 1040px, '../images/sprite.png', 'main-end', );
$main-start-name: 'main-start';
$main-start-x: 982px;
$main-start-y: 362px;
$main-start-offset-x: -982px;
$main-start-offset-y: -362px;
$main-start-width: 121px;
$main-start-height: 220px;
$main-start-total-width: 1182px;
$main-start-total-height: 1040px;
$main-start-image: '../images/sprite.png';
$main-start: (982px, 362px, -982px, -362px, 121px, 220px, 1182px, 1040px, '../images/sprite.png', 'main-start', );
$portrait-name: 'portrait';
$portrait-x: 982px;
$portrait-y: 0px;
$portrait-offset-x: -982px;
$portrait-offset-y: 0px;
$portrait-width: 200px;
$portrait-height: 203px;
$portrait-total-width: 1182px;
$portrait-total-height: 1040px;
$portrait-image: '../images/sprite.png';
$portrait: (982px, 0px, -982px, 0px, 200px, 203px, 1182px, 1040px, '../images/sprite.png', 'portrait', );
$spritesheet-width: 1182px;
$spritesheet-height: 1040px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($anatomy-1, $anatomy-2, $anatomy-3, $anatomy-4, $anatomy-5, $awards, $bubble, $close, $doc-boy, $logo-big, $logo, $logotype, $main-end, $main-start, $portrait, );
$spritesheet: (1182px, 1040px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
