@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	background: $bg url(../images/bg/main.jpg) 50% 50% no-repeat;
	background-size: cover;

	&__app{

		@media (orientation: portrait) {
			display: none;
		}

		width: 1350px;
		margin: auto;
		
	}

	&__portrait{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		margin: auto;
	}

	&__disc{
		position: absolute;
		left: 5px;
		right: 5px;
		bottom: 5px;
		text-align: center;
		color: #cdc6ae;
		text-transform: uppercase;
		font-size: 22px;
		font-family: 'Arial Narrow';
	}
}

/* ==========================================================================
 * portrait
 * ========================================================================== */

.portrait{
	padding: 50px;

	display: none;
	text-align: center;	

	align-items: center;
	justify-content: center;

	@media (orientation: portrait) {
		display: flex;
	}

	&__content{
		width: 600px;

		&:before{
			content: '';
			display: block;
			margin: 0 auto 20px;
			@include sprite($portrait);
		}
	}

	&__text{
		font-size: 25px;		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	padding: 80px 0 80px;

	&__wrap{
		@include clearfix;
		max-width: 1000px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 40px;
		font-weight: 700;
		font-size: 36px;
		line-height: (50/36);
	}

	&__text{
		margin: 0 0 30px;		
	}
}


/* ==========================================================================
 * app
 * ========================================================================== */

.app{

	&__page{
		height: 100vh;
		min-height: 700px;
		background: $bg url(../images/bg/all.jpg) 50% 50% no-repeat;
		background-size: cover;
		
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content{
		position: relative;
	}

	&__loader{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 500;
	}

	&__error{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 550;
	}

}

/* ==========================================================================
 * login
 * ========================================================================== */

.login{
	background-image: url(../images/bg/main.jpg);
	text-align: center;
	position: relative;

	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
	}

	&:before{
		background: url(../images/main-boy.png) 50% 50% no-repeat;
		//background-size: cover;
		width: image-width('../assets/images/main-boy.png');
		margin: 0 0 0 280px;
	}

	&:after{
		background: url(../images/main-girl.png) 50% 50% no-repeat;
		//background-size: cover;
		width: image-width('../assets/images/main-girl.png');
		margin: 0 0 0 -600px;
	}

	&__logo-placeholder{
		margin: 0 0 60px;
	}

	&__logo{
		text-indent: -9999px;
		display: inline-block;
		@include sprite($logo-big);
	}

	&__title{
		font-size: 48px;
		line-height: (64/48);
		text-transform: uppercase;
		color: $red;
		font-weight: 700;
		margin: 0 0 60px;
		font-family: $sansnarrow;
	}
}

/* ==========================================================================
 * error-message
 * ========================================================================== */

.error-message{
	padding: 10px;
	background: #ff7f7f;
}
 

/* ==========================================================================
 * loader
 * ========================================================================== */

.loader{
	background: rgba(255,255,255,.5);	
	text-align: center;
	opacity: 0;
	visibility: hidden;
	
	transition: all .2s;

	display: flex;

	align-items: center;
	justify-content: center;
	
	&__content{
		width: 40px;
		height: 40px;
		display: inline-block;
		animation: spin .6s infinite linear;
		//text-indent: -9999px;
		//content: '';
	}

	&--visible{
		opacity: 1;
		visibility: visible;
	}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
